internal/ebpfgen/tcpconnect_bpfel.go
internal/ebpfgen/tcpconnect_bpfeb.go
internal/ebpfgen/tcpconnect_bpfel.o
internal/ebpfgen/tcpconnect_bpfeb.o

internal/ebpfgen/dnsresponse_bpfeb.go
internal/ebpfgen/dnsresponse_bpfel.go
internal/ebpfgen/dnsresponse_bpfeb.o
internal/ebpfgen/dnsresponse_bpfel.o

flowmancer-agent